.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.env
.DS_Store
build
node_modules
deployments
coverage
coverage.json
typechain-types
abis
src/tasks/example.ts
